html{
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}

img {
	max-width: 100%;	
	height: auto;
}

a{
	text-decoration: none;
}


/*шрифты начало*/
	@font-face {
		font-family: 'Bebas Neue';
		src: url('BebasNeueBold.eot');
		src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
			url('BebasNeueBold.woff2') format('woff2'),
			url('BebasNeueBold.woff') format('woff'),
			url('BebasNeueBold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Bebas Neue';
		src: url('BebasNeueRegular.eot');
		src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
			url('BebasNeueRegular.woff2') format('woff2'),
			url('BebasNeueRegular.woff') format('woff'),
			url('BebasNeueRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Calibri-Bold';
		src: url('Calibri-Bold.eot');
		src: url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),
			url('Calibri-Bold.woff2') format('woff2'),
			url('Calibri-Bold.woff') format('woff'),
			url('Calibri-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Calibri-Light';
		src: url('Calibri-Light.eot');
		src: url('Calibri-Light.eot?#iefix') format('embedded-opentype'),
			url('Calibri-Light.woff2') format('woff2'),
			url('Calibri-Light.woff') format('woff'),
			url('Calibri-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Calibri';
		src: url('Calibri.eot');
		src: url('Calibri.eot?#iefix') format('embedded-opentype'),
			url('Calibri.woff2') format('woff2'),
			url('Calibri.woff') format('woff'),
			url('Calibri.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
/*шрифты конец*/

body{
	font-family: Montserrat;

	display: flex;
	justify-content: center;
	position: relative;
}

.wraper,
.wrap-about,
.wrap-novelties,
.wrap-heder,
.wrap-footer {
	width: 100%;
}

.wraper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap-heder {
	height: 270px;
	background-color: #0E4243;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-top {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E9E5CE;
	min-width: 100%;
	height: 50px;
}

.wrap-menu{
	min-width: 1110px;
	height: 30px;
	display: flex;
	align-items: center;	
	justify-content: space-between;
	background-color: #E9E5CE;
}

.menu {
	width: 595px;
	height: 30px;
}

#menu-1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#menu-1 li{
	display: inline-block;
}
#menu-1 li a{
	text-decoration: none;
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #3C3C3C;
}

.wrap-right-block {
	width: 235px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wrap-right-block a{
	text-decoration: none;
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #3C3C3C;
}

.wrap-right-block__text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 145px;
}

.sep{
	width: 1px;
	height: 18px;
	background: #828282;
	border: 1px solid #828282;
}

.block-icon{
	width: 28px;
	height: 28px;
}

.block-icon img{
	width: 100%;
	height: 100%;
}

header{
	min-width: 1110px;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0E4243;
}

.logo {
	width: 268px;
	height: 150px;
	position: relative;
}

.logo img{
	position: absolute;
	left: -50px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	object-position: center;
	
}

.serch {
	width: 540px;
	height: 45px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}
.telefon {
	width: 190px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.telefon__row{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.telefon__icon {
	width: 28px;
	height: 28px;
}

.telefon__icon  img{
	width: 100%;
	height: 100%;
}

.telefon__number {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	color: #FFFFFF;
}

.telefon__feedback {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #828282;
	text-align: right;
}
.nav-menu {
	min-width: 1110px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0E4243;
}

#menu-2{
	width: 782px;
	display: flex;
	justify-content: space-between;
}

#menu-2 a::after{
	content: url("../img/meny-2-arrow-down.svg");
	margin-left: 8px;
	color: #FFFFFF;
}

#menu-2 > a{
	text-decoration: none;
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

.wrap-icons-block{
	display: flex;
	justify-content: space-between;
	width: 205px;
}

.wrap-icons-block img{
	width: 46px;
	height: 46px;

}

.basket {
	font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 22px;
color: #FFFFFF;
}

.intro{
	width: 1110px;
	height: 570px;
	position: relative;
	margin-bottom: 78px;
}


.intro-main-block {
	position: absolute;
	width: 350px;
	height: 212px;
	background-color: #0E4243;
	z-index: 5;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
}

.block__logo{
	position: relative;
	width: 187px;
	height: 104px;
}

.block__logo img{
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	object-position: center;;
}

.intro-main-block__text {
	width: 258px;
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 100;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing:2px;
}

.slogan-block {
	position: absolute;
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 20px;
	color: #0E4243;
	width: 350px;
	height: 70px;
	bottom: -95px;
	background: #E9E5CE;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro__foto {
	width: 730px;
	height: 570px;
	position: relative;
}

.intro__foto img{
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	object-position: center;
}

.wrap-intro-block{
	width: 350px;
	height: inherit;

	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.intro-block{
	width: 350px;
	height: 120px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}

.intro-block__text-wrap{
	width: 270px;
}

.intro-block__title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #0E4243;
}
.intro-block__text {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #3C3C3C;
	}

.intro-block__img{
	width: 35px;
	height: 35px;
	/*margin: 40px;*/
}
.intro-block img{
	width: 100%;
	height: 100%;
}

.popular-goods{
	margin-bottom: 90px;
}

.popular-goods,
.novelties,
.instagram{
	width: 1110px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular-goods__row,
.novelties__row,
.instagram__row  {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: space-between;	

}

.popular-goods__title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #0E4243;
}
.arow-block {
	width: 108px;
	height: 45px;
	display: flex;
	justify-content: space-between;
}

.arow-block__arow-left,
.arow-block__arow-right{
	width: 45px;
	height: 45px;
	background-color: #0E4243;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arow-block__arow-left img,
.arow-block__arow-right img{
width: 12px;
height: 14px;
}

.popular-goods__cards-block,
.novelties__cards-block,
.instagram__foto-block{
	width: 100%;
	height: 386px;
	display: flex;
	justify-content: space-between;
}

.wrap-novelties {
	width: 100%;
	height: 564px;
	background: #0E4243;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 90px;
}

.novelties__row {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #FFFFFF;
}

.fon-white{
	background: #fff;
}

.instagram {
	height: 318px;
	margin-bottom: 90px;
}

.instagram__row {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #3C3C3C;	
}

.instagram__foto-block {
	height: 255px;
}

.instagram__foto img{
	width: 100%;
	height: 100%;
}

.instagram__foto {
	height: 255px;
	width: 255px;
}

.wrap-about {
	width: 100%;
	height: 615px;
	background: #0E4243;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about {
	width: 1110px;
	height: 463px;
	display: flex;
	justify-content: center;
	/*align-items: center;*/

}

.about__foto {
	position: relative;
	width: 540px;
	height: 463px;
	border-radius: 5px;
}

.about__foto img{
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	object-position: center;
}

.about__text{
	width: 540px;
	margin-left: 30px;
}

.about__text,
.about__text-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #FFFFFF;
}
.about__text-text {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	min-height: 392px;
}

.wrap-footer {
	height: 414px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #0E4243;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


footer{
	height: 75%;
	width: 1110px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

footer a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}

.footer-logo{
	position: relative;
}

.footer-logo .block__logo img{
	position: absolute;
	left: -25px;
	top: -25px;
}


.footer-logo,
.footer-menu,
.footer-categories,
.footer-contacts {
	min-height: 90%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
}

.footer-menu__text a{
	margin: 20px 0px;
}

.footer-menu,
.footer-categories,
.footer-contacts {
	min-height: 50%;
}


.footer__block-icon{
	width: 100px;
	display: flex;
	justify-content: space-between;
}

.footer-logo .block-icon,
.footer-logo .block-icon{
	height: 40px;
	width: 40px;
}

.footer-logo .block__logo{
	width: 100%;
	height: 149px;
}

.footer-log__text{
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.6);

}

.footer-menu__title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	color: #FFFFFF;
}
.footer-menu__text {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

.footer-contacts{
	width: 22%;
}

.footer-contacts__text-row{
	width: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.footer-contacts__text-text{
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 22px;
	color: #FFFFFF;
	width: 82%;
	text-align: left ;
}


.copyright-block{
	height: 84px;
	width: 100%;
	background-color: #0E4243;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.6);
}

/*--------- product-card --------*/
.product-card {
	width: 255px;
	height: 386px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;

}

.product-card__row{
	width: 100%;
	min-height: 50px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 25px;

}

.wrap-rat-1 img {
	width: 25px;
	height: 25px;
}

.wrap-rat-1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #828282;
	width: 57px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wrap-rat-2 img{
	width: 25px;
	height: 25px;
}

.wrap-rat-2{
	width: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-rating {
	padding: 22px 25px 14px 25px;;
}

.product-foto img{
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	object-position: center;
}

.product-foto {
	height: 161px;
	position: relative;
}
.product-title {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #4F4F4F;

}
.product-status {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #828282;

}

.product-price__block-price{
	width: 73px;
	height: 45px;

	
}

.product-price {
	padding-right: 25px ;
}

.old-price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-decoration-line: line-through;
	color: #C0C0C0;	
}
.new-price {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #0E4243;
}

#bye{
	width: 100px;
	height: 45px;	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;

	background: #0E4243;
border-radius: 5px;
}

.wrap-category-block{
	background-color: #fff;
}

.category-block__title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #3C3C3C;
}

.category-block__text {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #3C3C3C;
}

main{
	min-height: 200px;
	width: 1110px;
	
}

.breadcrumb-nav {
	width: 185px;
	height: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #828282;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px 15px 0px;

}

.breadcrumb-nav img{
	width: 12px;
	height: 8px;
}

.breadcrumb-nav a{
	color: #828282;
}

.cat-title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #0E4243;
	margin: 15px 0px 30px 0px;
}
.cat-slider {
	height: 283px;
	background: #0E4243;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-bottom: 70px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

.arrow-cat-slider__right,
.arrow-cat-slider__left{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 5;
}

.arrow-cat-slider__right{
	right: -22px;
}
.arrow-cat-slider__left{
	left: -22px;
}

.cat-slider__card-goods {
	width: 150px;
	height: 212px;
}
.cat-slider__card-goods-foto {
	width: 150px;
	height: 150px;
	left: 432px;
	top: 459px;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
	border-radius: 5px;
}

.view {
	width: 158px;
	height: 45px;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.view__preview {
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.view__preview img{
	width: 70px;
	height: 70px;
}

.block-goods {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.goods-block {
	width: 100%;
	min-height: 1076px;
}

.goods-foto-wiht-slider {
	width: 535px;
	height: 426px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.goods-foto-wiht-slider__foto {
	position: relative;
	width: 426px;
	height: 426px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;

}

.goods-foto-wiht-slider__foto > img{
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:contain;
	object-position: center;
}


.goods-foto-wiht-slider__slider {
	width: 85px;
	height:  426px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.goods-foto-wiht-slider__slider-card {
	width: 85px;
	height: 85px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	position: relative;
}

.goods-foto-wiht-slider__slider-card > img {
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:contain;
	object-position: center;
}

.goods-slider-arrow-up,
.goods-slider-arrow-down {
	width: 20px;
	height: 10px;
}
.goods-slider-arrow-down {}

.goods-block__slider-row{
	width: 1110px;
	display: flex;
	justify-content: space-between;
}

.goods-discription {
	width: 540px;
	height: 426px;
}

.goods-discription__title-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.goods-discription__title {
	font-family: 'Bebas Neue';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
color: #0E4243;
}

.goods-discription__status {
	width: 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goods-discription__status-status {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #828282;
	width: 90px;
}

.goods-discription__status-status img{
	width: 20px;
	height: 20px;
}

.goods-discription__rating {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #828282;
}

.goods-discription__text{
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #3C3C3C;
	height: 232px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.goods-discription__price {
	width: 219px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0;
}
.goods-discription__old-price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	text-decoration-line: line-through;
	color: #C0C0C0;
}
.goods-discription__new-price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	color: #0E4243;
}
.goods-discription__buttons {
	width: 100%;
		display: flex;
	justify-content: space-between;
	align-items: center;
}
.amount {
	width: 65px;
	height: 45px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.amount p:nth-of-type(2n+1){
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	color: #3C3C3C;
}

.amount  p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #0E4243;
}


#goods-discription__bye {
	width: 160px;
	height: 45px;
	background: #0E4243;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

#goods-discription__bye-on-one-click {
	width: 160px;
	height: 45px;
	background: #FFFFFF;
	border: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
	color: #3C3C3C;
}

.row-info-card {
	width: 100%;
	height: 120px;
	margin: 60px	0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.info-card {
	width: 255px;
	height: 120px;
	background: #0E4243;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
	padding: 12px;

	position: relative;

}

/*.info-card__text-wrap {}*/

.info-card__title {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}
.info-card__text {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}
.info-card__img {
	width: 35px;
	height: 35px;
	position: absolute;
	right: 12px;
	top:	12px;
}

.tabs-block {
	width: 100%;
	height: 426px;
	margin-bottom: 77px;

	border: 1px solid #000;

}